<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
  <div class="col-md-4">
    <!-- START widget-->
    <div class="panel widget">
      <div class="panel-body bg-danger text-center">
        <div class="clearfix">
          <div class="pull-left">200 Following</div>
          <div class="pull-right">150 Followers</div>
        </div>
        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="Image" class="img-thumbnail img-circle thumb96">
        <h4 class="mt0">Lois Berry</h4>
        <p class="m0">
          <em class="fa fa-fw fa-map-marker"></em>San Francisco, California</p>
        <div class="clearfix">
          <div class="pull-left">15k Likes</div>
          <div class="pull-right">100 Feeds</div>
        </div>
      </div>
    </div>
    <!-- END widget-->
  </div>
  <div class="col-md-4">
    <!-- START widget-->
    <div class="panel widget">
      <div class="panel-body bg-primary text-center">
        <div class="clearfix">
          <div class="pull-left">200 Following</div>
          <div class="pull-right">150 Followers</div>
        </div>
        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="Image" class="img-thumbnail img-circle thumb96">
        <h4 class="mt0">Michael chenlyy</h4>
        <p class="m0">
          <em class="fa fa-fw fa-map-marker"></em>San Francisco, California</p>
        <div class="clearfix">
          <div class="pull-left">15k Likes</div>
          <div class="pull-right">100 Feeds</div>
        </div>
      </div>
    </div>
    <!-- END widget-->
  </div>
  <div class="col-md-4">
    <!-- START widget-->
    <div class="panel widget">
      <div class="panel-body bg-info text-center">
        <div class="clearfix">
          <div class="pull-left">200 Following</div>
          <div class="pull-right">150 Followers</div>
        </div>
        <img src="https://bootdey.com/img/Content/user_2.jpg" alt="Image" class="img-thumbnail img-circle thumb96">
        <h4 class="mt0">Margareth Danky</h4>
        <p class="m0">
          <em class="fa fa-fw fa-map-marker"></em>San Francisco, California</p>
        <div class="clearfix">
          <div class="pull-left">15k Likes</div>
          <div class="pull-right">100 Feeds</div>
        </div>
      </div>
    </div>
    <!-- END widget-->
  </div>
</div>
