body{
    margin-top:20px;
    background-color:#eee;
}
.section-intro {
    font-size: 1.125rem;
    color: #828d9f;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.justify-content-center {
    -webkit-justify-content: center !important;
    justify-content: center !important;
}
.integration-list .item img {
    width: 100px;
    height: auto;
    background: #fff;
}
.rounded-circle {
    border-radius: 50% !important;
}
.shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
img, svg {
    vertical-align: middle;
}

@media (min-width: 1200px){
    .top-line-lg:before {
        content: "";
        display: inline-block;
        width: 160px;
        height: 80px;
        z-index: -1;
        background: transparent;
        border: none;
        border-top: dashed 3px #cccff8;
        padding: 30px;
        border-radius: 50%;
        position: absolute;
        right: -80px;
        top: -10px;
    }
}

@media (min-width: 1200px){
    .bottom-line-lg:before {
        content: "";
        display: inline-block;
        width: 160px;
        height: 80px;
        z-index: -1;
        background: transparent;
        border: none;
        border-bottom: dashed 3px #cccff8;
        padding: 30px;
        border-radius: 50%;
        position: absolute;
        right: -80px;
        bottom: -10px;
    }
}

@media (min-width: 1200px){
.top-line-lg {
    position: relative;
}
}

@media (min-width: 1200px){
.bottom-line-lg {
    position: relative;
}
}

@media (min-width: 992px){
    .mb-lg-5 {
        margin-bottom: 3rem !important;
    }
}

body{
  color: #8a909d;
  background:#eee;
  margin-top:20px;
}

@media (min-width: 992px){
  .card-default {
    margin-bottom: 2rem;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e5e9f2;
  border-radius: 0.25rem;
}

.card-default .card-header {
  padding-top: 1.875rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-bottom: none;
  flex-wrap: wrap;
  text-transform: capitalize;
}

.p-4 {
  padding: 1.25rem !important;
}

a{
  text-decoration:none;
}

.contact-list img {
  width:100px;
  height:100px;
}
